In [8]:
import requests
import datetime
import json
import random
import pandas as pd
def json_serialize(params):
    return json.dumps(params, indent=4, sort_keys=True, default=str)

In [9]:
def display_detail(response,return_df=False):
    raw=json.loads(response.content.decode('utf-8'))
    for i in range(len(raw)):
        try:
            if not return_df:
                display(pd.DataFrame(raw[i]['data']))
        except:
            display(raw[i])
    if return_df:
        try:
            return pd.DataFrame(raw[0]['data'])
        except Exception as e:
            display(str(e))

In [3]:
core_path="https://shielded-tor-28383.herokuapp.com/studysafe_core/api_device"
local_core_path='http://localhost:8000/studysafe_core'

# Accessing studysafe_core to generate data

In [ ]:
#Create Venue List
num_LT,num_CR,num_TR=30,30,30
LT_list=['LT'+str(i).zfill(3) for i in range(num_LT)]
TR_list=['TR'+str(i).zfill(3) for i in range(num_TR)]
CR_list=['CR'+str(i).zfill(3) for i in range(num_CR)]
LT_cap=dict(zip(LT_list,[int(random.random()*100)+10 for i in range(num_LT)]))
TR_cap=dict(zip(TR_list,[int(random.random()*20)+10 for i in range(num_TR)]))
CR_cap=dict(zip(CR_list,[int(random.random()*100)+10 for i in range(num_CR)]))
create_LT_list=[{'venue_code':LT_list[i],'location':'CPD','type':'LT','capacity':LT_cap[LT_list[i]]} for i in range(len(LT_list))]
create_CR_list=[{'venue_code':CR_list[i],'location':'CPD','type':'CR','capacity':CR_cap[CR_list[i]]} for i in range(len(CR_list))]
create_TR_list=[{'venue_code':TR_list[i],'location':'CPD','type':'TR','capacity':TR_cap[TR_list[i]]} for i in range(len(TR_list))]
params={'type':'create_venue','content':create_LT_list}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
params={'type':'create_venue','content':create_CR_list}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
params={'type':'create_venue','content':create_TR_list}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
display_detail(response,return_df=False)

## delet all current venues

In [ ]:
#if want to delete all current values in the record database
# params={"type":"list_all_venue"}
# response=requests.post(local_core_path+'/api_device',data=params)
# current_df=display_detail(response,return_df=True)

# delete_list=[{'recordid':list(current_df['id'])[i]} for i in range(len(current_df))]
# delete_list
# params={"type":"delete",'content':delete_list}
# response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
# display_detail(response)
# # existing_record=pd.DataFrame(json.loads(response.content.decode('utf-8')))
# # existing_record
# display_detail(response)

## list all generated venue codes

200

In [5]:
params={"type":"list_all_venue"}
response=requests.post(local_core_path+'/api_device',data=params)
venue_df=display_detail(response,return_df=True)
venue_df

   venue_code location type  capacity
0       CR000      CPD   CR        95
1       CR001      CPD   CR        78
2       CR002      CPD   CR        68
3       CR003      CPD   CR        55
4       CR004      CPD   CR        40
..        ...      ...  ...       ...
91      TR025      CPD   TR        25
92      TR026      CPD   TR        21
93      TR027      CPD   TR        26
94      TR028      CPD   TR        24
95      TR029      CPD   TR        50

[96 rows x 4 columns]

## modify venue record

In [10]:
# for those parameters that we don't want to change value for, simply set it to blank
params={"type":"modify_venue",'content':[{'venue_code':'TR029','location':'','type':'','capacity':50}]}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
display_detail(response)
params={"type":"list_all_venue"}
response=requests.post(local_core_path+'/api_device',data=params)
venue_df=display_detail(response,return_df=True)
venue_df

{'state': "Successfully modified venue with parameters {'venue_code': 'TR029', 'capacity': 50}"}

   venue_code location type  capacity
0       CR000      CPD   CR        95
1       CR001      CPD   CR        78
2       CR002      CPD   CR        68
3       CR003      CPD   CR        55
4       CR004      CPD   CR        40
..        ...      ...  ...       ...
91      TR025      CPD   TR        25
92      TR026      CPD   TR        21
93      TR027      CPD   TR        26
94      TR028      CPD   TR        24
95      TR029      CPD   TR        50

[96 rows x 4 columns]

## create students records

In [332]:
prefix='3035535'
create_student_list=[]
for i in list(set(list([random.choice(range(1000)) for i in range(100)]))):
    create_student_list.append({'hkuid':prefix+str(i).zfill(3),'name':random.choice(['Joey','Chandler','Monica','Racheal','Phoebe','Ross'])+str(i).zfill(3)})

In [352]:
params={'type':'create_students','content':create_student_list}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})

In [354]:
hkuid_list=[i['hkuid'] for i in create_student_list]

## list all current student records

In [71]:
params={'type':'list_all_students'}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
current_student_df=display_detail(response,return_df=True)
current_student_df

          hkuid           name
0    3035535000     Racheal000
1    3035535025      Phoebe025
2    3035535033      Monica033
3    3035535050      Phoebe050
4    3035535055         Newton
..          ...            ...
98   3035535959     Racheal959
99   3035535965     Racheal965
100  3035535967        Ross967
101  3035535981        Ross981
102  3035535985  Racheal Green

[103 rows x 2 columns]

## delete member

In [54]:
params={'type':'delete_student','content':[{'hkuid':'3035535999'}]}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
display_detail(response)

{'state': '{"hkuid": "3035535999", "message": "HKU member record deleted successfully."}'}

## search member

In [72]:
params={'type':'search_student','content':[{'hkuid':'3035535000'}]}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
display_detail(response)

{'state': '{"hkuid": "3035535000", "name": "Racheal000"}',
 'cmd': 'search_student',
 'data': {'hkuid': '3035535000', 'name': 'Racheal000'}}

## udpate member

In [73]:
params={'type':'update_student','content':[{'hkuid':'3035535000','name':'Chandler Bing'}]}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})
display_detail(response)

{'state': '{"hkuid": "3035535000", "message": "HKU member record updated successfully."}'}

## create enter and exit record

In [ ]:
from datetime import datetime, timedelta
import random
def generate_periods(start, end, durations):
    durations = [timedelta(minutes=m) for m in durations]

    total_duration = sum(durations, timedelta())
    nb_periods = len(durations)
    open_duration = (end - start) - total_duration

    delays = sorted(timedelta(seconds=s) 
                    for s in random.sample(range(0, int(open_duration.total_seconds())), nb_periods))
    periods = []
    periods_before = timedelta()
    for delay, duration in zip(delays, durations):
        periods.append((start + delay + periods_before,
                        start + delay + periods_before + duration))
        periods_before += duration

    return periods

In [ ]:
venue_list=list(venue_df['venue_code'])
start_time=datetime(2022,3,1,0,0)
end_time=datetime(2022,4,30,0,0)
durations=[random.random()*120+30 for i in range(70)]
enter_exit=[]
for hkuid in hkuid_list:
    time_list=generate_periods(start_time,end_time,durations)
    for i in range(len(time_list)):
        venue_code=random.choice(venue_list)
        enter_exit.append({'hkuid':hkuid,'venue_code':venue_code,'datetime':time_list[i][0].strftime('%Y-%m-%d %H:%M:%S'),'type':'EN'})
        enter_exit.append({'hkuid':hkuid,'venue_code':venue_code,'datetime':time_list[i][1].strftime('%Y-%m-%d %H:%M:%S'),'type':'EX'})

In [377]:
params={'type':'create','content':enter_exit}
response=requests.post(local_core_path+'/api_device',data=json.dumps(params),headers = {'content-type':'application/json'})

## list all existing records

In [10]:
params={"type":"list"}
response=requests.post(local_core_path+'/api_device',data=params)
# existing_record=pd.DataFrame(json.loads(response.content.decode('utf-8')))
# existing_record
display_detail(response,return_df=True)

        id    hkuid_id venue_code_id             datetime type
0       22  3035535000         TR024  2022-03-04 06:08:39   EN
1       23  3035535000         TR024  2022-03-04 08:35:54   EX
2       24  3035535000         CR008  2022-03-05 04:04:20   EN
3       25  3035535000         CR008  2022-03-05 06:30:19   EX
4       26  3035535000         LT021  2022-03-06 07:57:51   EN
...    ...         ...           ...                  ...  ...
7835  7937  3035535507         LT026  2022-04-26 20:27:42   EX
7836  7938  3035535507         LT017  2022-04-28 17:28:36   EN
7837  7939  3035535507         LT017  2022-04-28 19:28:31   EX
7838  7940  3035535507         TR001  2022-04-29 19:07:40   EN
7839  7941  3035535507         TR001  2022-04-29 20:35:12   EX

[7840 rows x 5 columns]

In [82]:
# below demonstration using localhost

# Using Studysafe Trace to trace the venues visited by a specific person

### format of diagnosis time must be %Y-%m-%d_%H:%M:%S

In [47]:
params={'hkuid':'3035535000','diagnosis_time':'2022-03-07_20:00:00'}
local_trace_url="http://localhost:8000/studysafe_trace/trace_venue/"
url=local_trace_url+params['hkuid']+"/"+params['diagnosis_time']

In [74]:
# it's more recommended to visit the url through browser directly
url

'http://localhost:8000/studysafe_trace/trace_venue/3035535000/2022-03-07_20:00:00'

In [50]:
response=requests.get(url)

# Using Studysafe Trace to trace the close contact of a specific person

In [80]:
params={'hkuid':'3035535066','diagnosis_time':'2022-04-17_23:50:55'}
local_trace_url="http://localhost:8000/studysafe_trace/trace_contacts/"
url=local_trace_url+params['hkuid']+"/"+params['diagnosis_time']

In [81]:
url

'http://localhost:8000/studysafe_trace/trace_contacts/3035535066/2022-04-17_23:50:55'

In [5]:
response=requests.get(local_trace_contact)